/* font types */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.inter-font_new {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.bg-color{
    background-color:#F5F8FF;

}
/* Header section */
.head-bg{

    background-image: url('../styles/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
 }
nav{
    display: flex;
    justify-content: space-between;
    margin:0 150px ;
    padding: 50px 0 50px 0;
    align-items: center;
    
}
.nav-logo{
    font-size: 34px;
    font-weight: 900px;
    color:rgba(78, 71, 255, 1);
}
.common-btn{
    border-radius: 10px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
    padding: 10px 20px;
    font-size: 20px;
}
.head-content{
    border: 158px 276.5px 37px;
    font-size: 65px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    justify-content:center ;
    align-items: center;
    padding: 300px 267.5px 285px;

}
/* Action section */
.action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    margin-top: 68px;
    margin-right: 176px;
    margin-left: 141px;
    /* padding: 68px 159px 116px 141px; */
}
.action-column{
    text-align: left;
    /* padding: 23px; */
    padd
}
.action-title{
    font-size:42px;
    font-weight: bold;
    color:rgba(37, 36, 50, 1);
    margin-bottom: 23px;
}
.action-subtitle{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}
.action-img{
     border-radius: 48px;
     width: 403px;
     height: 328px;
}
/* user content section */
.user-content{
    margin: 116px 159px 147px 141px;
    text-align: center;
    padding: 50px 142px;
    background-color: #D6DDED;

}
.user-title{
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.product{
    display: flex;
    gap: 158px;
    justify-content: center;
}
.product-content{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin-bottom:0px;
}
.product-detail{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}
/* reviews */
.review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.review-all{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.review-card{
    border: 1px solid white;
    border-radius: 14px;
    /* gap: 24px; */
   
}
.review-profile{
    margin-top: 24px;
    display: flex;
    justify-items: center;  
}
.review-profile img{
  height: 40px;
  width: 40px;
  margin-right:6px;
}
.review-profile h4,p{
    color: #757575;
    margin: 2px;
}
/* focus  */
.focus-part{
    justify-items: center;
    padding: 70px 150px;
    margin:127px 150px ;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;

}
.focus-part h2{
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}

.focus-part img{
    margin-top: 20px;
    margin-bottom: 70px;
   border-radius: 48px;
   justify-content: center;
}
/* newsletter */
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 93px 150px;

}
.news-title{
    font-size: 60px;
    font-weight: bold;
}
form input[type=email],input[type="text"],textarea{
    height: 32px;
    width: 100%;
    display: block;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    background-color: white;
    font-size: 20px;
    margin-bottom:19px;
}
.label-design{
    font-size: 18px;
    font-weight: 500px;
}
